button {
  width: 20%;
  text-align: center;
}

img {
    max-width: 50%;
    height: auto;
    margin: 0 auto;
}

.header {
  width: 100%; 
  text-align: center;
}

.buttons {
  width: 100%; 
  text-align: center;
}

.images {
  width: 100%; 
  text-align: center;
}

